/* cuerpo*/
body{
background-color:gainsboro;
}


/* comienza la lista de tareas */
#task-list {
  overflow: auto;
  height: 25rem;
  padding-top: 5rem;
}
/* titulo */
#main{
  background-color:gainsboro;
  font-size: 50rem;
  font-weight: 700;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 1rem;
  max-width: var(--width-page);
  color:var(--primary-active-color);
  text-align: center;
  max-height: 80rem;
}

#main-title {
  font-size: 5rem;
  justify-content: center;
  font-weight: 700;
  flex-direction: column;
  text-align: center;
  color: var(--primary-active-color);

}

#task-list{
  justify-content: center;
  padding: 5vh;
  background-color:gainsboro;
  box-sizing: border-box;
  border-width: 10px;
  border-color: var(--primary-color);
  color: black;
  max-width: var(--width-page);
  max-height: 500px;
  box-shadow: 0 0 30px var(--primary-color);
  margin-top: 15px;
}


#task-title{
  font-size: 2rem;
}

#task-input-text{
  background-color: white;
  box-shadow: 0 0 10px var(--primary-color);
  width: 350px;
  max-width: 8rem;
  justify-content: center;
}

#task-container{
  max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 0 10px var(--primary-color);
    justify-content: center;
}


#main-form-button{
  cursor: pointer;
  width: auto;
  height: auto;
  border-radius: 0.375rem;
  color: var(--btn-text-color);
  background-color: var(--primary-color);
  justify-content: center;
}

#text-button{
  color: var(--text-color);
  justify-content: flex-start;
  font-size:1rem ;
  align-items: end;
}
#main-form-button:hover{
background-color: blue;
}
.task-item-check-button:hover{
background-color: green;
cursor: pointer;
}
.task-item-delete-button:hover{
  background-color: red;
  cursor: pointer;
}
.task-text-counter{
  font-size: 3rem
}

.main-form-helper-text{
  font-size:30px;
  color: red;
}
.task-item{
  box-sizing: border-box;
  border-width: 2px;
  border-color: black;
  flex-direction: row;
  justify-content: center;
  display: flex;
}